.order-grid {
  margin-top: 200px;
  padding-bottom: 180px;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* .your-order {
  padding-left: 75px;
} */

.your-order-mobile {
  display: none;
}

/* .your-order ul {
  padding-top: 40px;
} */

.your-order-mobile h3 {
  border-bottom: 1px dotted black;
  width: 140px;
}

.your-order-mobile ul {
  padding-top: 40px;
}

@media (max-width: 570px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 788px) {
  .your-order-mobile h3 {
    cursor: pointer;
  }

  .order-grid {
    display: block;
    padding: 0 30px 180px 30px;
  }
}

@media (max-width: 1200px) {
  /* .your-order {
    padding-left: 25px;
    width: 100%;
  } */

  .order-price {
    width: calc(100% - 10px);
  }
}

@media (max-width: 788px) {
  /* .your-order {
    display: none;
  } */

  .your-order-mobile {
    display: block;
    padding-left: 0px;
  }
}
